* {
    padding: 0;
    margin: 0 auto;
    box-sizing: border-box;
}

body {
    font-family: "Indie Flower", cursive;
    background: #9C8763;
    color: #555;

    text-align: center;
}

.pages,
.flips {
    transform-style: preserve-3d;
}

.book {
    border: 1px solid #000;
    position: relative;
    perspective: 3500px;
    perspective-origin: center;
    filter: drop-shadow(0px 10px 5px rgba(0, 0, 0, 0.25));
}

.gap {
    width: 10px;
    height: 1200px;
    background: none;
    transform: rotateX(60deg);
    transform-origin: bottom;
    position: absolute;
    top: -33vw;
    /*should be the same with .page*/
    left: calc(50% - 50px);
}

.gap::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 50%);
    background-color: #555;
    width: 100px;
    height: 5px;
    border-radius: 50%;
}


.innerpage {
    width: 700px;
    font-size: 30px;

}

.innerpage h3 {
    font-size: 50px;
    text-align: center;
}

.page {
    width: 700px;
    height: 1200px;
    background-color: wheat;
    position: absolute;
    top: -33vw;
    right: 50%;
    transform-origin: 100% 100%;
    border: solid #555 2px;
    background-position: center;
    transform-style: preserve-3d;
    background-size: 700px 1200px;
}

.page:nth-child(1) {
    transform: rotateX(60deg) rotateY(3deg);
}

.page:nth-child(2) {
    transform: rotateX(60deg) rotateY(4.5deg);
}

.page:nth-child(3) {
    transform: rotateX(60deg) rotateY(6deg);

}

.page:nth-child(4) {
    transform: rotateX(60deg) rotateY(-6deg);
    right: 0;
    left: 700px;
    transform-origin: 0 100%;
}

.page:nth-child(5) {
    transform: rotateX(60deg) rotateY(-4.5deg);
    right: 0;
    left: 700px;
    transform-origin: 0 100%;
}

.page:nth-child(6) {
    transform: rotateX(60deg) rotateY(-3deg);
    right: 0;
    left: 700px;
    transform-origin: 0 100%;
}

@keyframes flip1 {

    0%,
    20% {
        transform: rotateX(60deg) rotateY(6deg);
    }

    80%,
    100% {
        transform: rotateX(60deg) rotateY(174deg);
    }

}

@keyframes flip11 {

    0%,
    20% {
        transform: rotateX(60deg) rotateY(174deg);
    }

    80%,
    100% {
        transform: rotateX(60deg) rotateY(6deg);
    }

}

@keyframes flip2 {

    0%,
    20% {
        transform: rotateY(0deg) translateY(0px);
    }

    50% {
        transform: rotateY(-15deg) translateY(0px);
    }

}

@keyframes flip22 {

    0%,
    20% {
        transform: rotateY(0deg) translateY(0px);
    }

    50% {
        transform: rotateY(15deg) translateY(0px);
    }

}
#flip{
    display: none;
}

.flip {
    width: 50px;
    height: 1200px;
    position: absolute;
    top: -33vw;
    transform-origin: 100% 100%;
    right: 100%;
    perspective-origin: center;
    transform-style: preserve-3d;
    border: solid #555;
    border-width: 2px 0px;
    background: wheat;

}

.innerflip {
    position: absolute;
    left: 0;
    width: 50px;
    overflow: hidden;
}

.f2nest {
    right: 0px;
    bottom: 0px;
    position: absolute;
    top: 0px;
    left: 0px;
    background: wheat;
    transform: rotateY(180deg);
    transform-style: preserve-3d;
    backface-visibility: hidden;
}

.flip.flip1 {
    right: 50%;
    
    border-width: 2px 2px 2px 0px !important;
    box-sizing: content-box;
    height: 1196px;

}

.fl1_an1{
    animation: flip1 3s infinite ease-out;
    animation-play-state: paused;
}
.fl2_an1{
    animation: flip2 3s ease-out infinite;
    animation-play-state: paused;

}
.fl1_an2{
    animation: flip11 3s infinite ease-out;
    animation-play-state: paused;
}
.fl2_an2{
    animation: flip22 3s ease-out infinite;
    animation-play-state: paused;

}

.flip:not(.flip1) {
    right: calc(100%);
    top: -2px;
    transform-origin: right;

}

.flip.flip14 {
    border-width: -2px 0px 2px 2px;
    width: 52px;

}


article {
    text-align: left;
}

.leftButton {
    position: absolute;
    width: 30px;
    height: 30px;
    font-size: 40px;
    left: 10px;
    top: 300px;
    cursor: pointer;
}

.rightButton {
    position: absolute;
    width: 30px;
    height: 30px;
    font-size: 40px;
    right: 10px;
    top: 300px;
    cursor: pointer;
}

/*翻页效果：*/